<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.romanov.moduleone.dao.QuestionDAOImpl">
        <constructor-arg name="fileName" value="Test_Questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.romanov.moduleone.serviece.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"/>
    </bean>

    <bean id="personDao" class="ru.romanov.moduleone.dao.PersonDAOImpl"/>

    <bean id="personService" class="ru.romanov.moduleone.serviece.PersonServiceImpl">
        <constructor-arg name="dao" ref="personDao"/>
    </bean>

    <bean id="resultDao" class="ru.romanov.moduleone.dao.ResultDAOImpl"/>

    <bean id="resultService" class="ru.romanov.moduleone.serviece.ResultServiceImpl">
        <constructor-arg name="resultDao" ref="resultDao"/>
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>

</beans>